    <ul id="slide-out" class="side-nav">
      <li><div class="user-view">
        <h4>content</h4>
        </div>
      </li>
          <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
          <li><a href="#!">Second Link</a></li>
          <li><div class="divider"></div></li>
          <li><a class="subheader">Subheader</a></li>
          <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
      </ul>

      <!-- <app-user></app-user> -->
      
      <router-outlet></router-outlet>
      