<h3>UserNewComponent</h3>
<form (submit)="create()">
  <label>username?</label>
  <input type="text" name="username" [(ngModel)]="newUser.username">
  <label>YOUR MOTTO. THE REASON YOU ARE HERE?</label>
  <input type="text" name="motto" [(ngModel)]="newUser.motto">
  <label>GENRES FANCIED</label>
  <div class="input-field col s12">
    <select multiple>
      <option value="" disabled selected>SELECT GENRES TO SEARCH THAT YOU FANCY</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
  </div>
  <input type="password" name="password" [(ngModel)]="newUser.password">
  <input type="password" name="confirmPassword" [(ngModel)]="newUser.confirmPassword">
  <input type="submit" class="waves-effect waves btn-large red">
</form>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="I am not editable" id="disabled" type="text" class="validate">
          <label for="disabled">Disabled</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          This is an inline input field:
          <div class="input-field inline">
            <input id="email" type="email" class="validate">
            <label for="email" data-error="wrong" data-success="right">Email</label>
          </div>
        </div>
      </div>
    </form>
  </div>