<div class="row">
  <form materialize class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <textarea id="username" name="username" class="materialize-textarea" [(ngModel)]="userEdit.username"></textarea>
        <label for="username" class="active" >CHANGE USERNAME?</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" name="motto" class="materialize-textarea" [(ngModel)]="userEdit.motto"></textarea>
        <label for="textarea1" class="active" >CHANGE MOTTO MAYBE?</label>
      </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <input id="password" name="password" type="password" class="validate" [(ngModel)]="userEdit.password">
          <label for="password" class="active">NEW PASSWORD</label>
        </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="confirmPassword" name="confirmPassword" type="password" class="validate" [(ngModel)]="userEdit.confirmPassword">
        <label for="confirmPassword" class="active">CONFIRM YOUR CHANGE</label>
      </div>
    </div>
    <input type="submit" value="EDIT" class="waves-effect waves btn-large yellow col s12">
  </form>
</div>

