<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <h1>Welcome to Rock Radar</h1><hr><hr>
    <h3>Register Here!</h3>
      <form action="index.html" method="post">
        First Name:<input type="text" name="first_name" placeholder="First Name"><br><br>
        Last Name:<input type="text" name="last_name" placeholder="Last Name"><br><br>
        Email:<input type="text" name="email" placeholder="Email"><br><br>
        Genre:<select class="" name="genre" ><br><b>
          <option selected disabled>Genre</option>
          <option value="rock">Rock</option>
          <option value="pop">Pop</option>
          <option value="electronic">Electronic</option>
          <option value="hiphop">Hip-Hop</option>
          <option value="country">Country</option>
        </select><br>
        <br>
        Password:<input type="password" name="password" placeholder="Password"><br><br>
        Confirm Password: <input type="password" name="confirm_password" placeholder="Confirm Password"><br><br>
        <input type="button" name="submit" value="Register">
      </form>
  </body>
</html>
